.doctor-card {
    margin-top: 30px;
    border-radius: 20px;
    width: 350px;
    background-color: #EDF3F6;
}

.doctor-card Img {
    width: 60%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 5px solid cadetblue;
    margin-top: 20px;
    margin-left: 70px;
}

.special {
    background-color: #29aeaa;
    margin-top: 50px;
    height: 30px;
    width: 50%;
    border-radius: 15px;
}